In [1]:
import yfinance as yf
data = yf.download('2330.TW')
data

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,2330.TW,2330.TW,2330.TW,2330.TW,2330.TW,2330.TW
Date,,,,,,
2000-01-04 00:00:00+00:00,34.216957,69.649033,69.649033,68.475182,69.649033,200662336736
2000-01-05 00:00:00+00:00,34.985809,71.214043,71.214043,68.866341,69.649033,402466805912
2000-01-06 00:00:00+00:00,34.216957,69.649033,71.214043,69.649033,70.822884,197545715802
2000-01-07 00:00:00+00:00,33.255756,67.692490,68.475182,66.518639,67.301331,235270344752
2000-01-10 00:00:00+00:00,34.409119,70.040192,70.431351,68.475182,69.649033,276171685539
...,...,...,...,...,...,...
2024-10-21 00:00:00+00:00,1085.000000,1085.000000,1095.000000,1080.000000,1090.000000,36491060
2024-10-22 00:00:00+00:00,1075.000000,1075.000000,1075.000000,1060.000000,1065.000000,41197877
2024-10-23 00:00:00+00:00,1060.000000,1060.000000,1070.000000,1055.000000,1060.000000,31423466
2024-10-24 00:00:00+00:00,1060.000000,1060.000000,1075.000000,1055.000000,1070.000000,38236996
2024-10-25 00:00:00+00:00,1065.000000,1065.000000,1070.000000,1060.000000,1065.000000,22009575

In [2]:
taiwan = yf.download('^TWII')
taiwan

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,^TWII,^TWII,^TWII,^TWII,^TWII,^TWII
Date,,,,,,
1997-07-02 00:00:00+00:00,8996.678711,8996.719727,9124.299805,8988.129883,9094.269531,0
1997-07-03 00:00:00+00:00,9027.588867,9027.629883,9061.599609,8997.509766,9061.599609,0
1997-07-04 00:00:00+00:00,9192.528320,9192.570312,9218.209961,9119.250000,9144.959961,0
1997-07-07 00:00:00+00:00,9322.797852,9322.839844,9370.410156,9304.820312,9365.190430,0
1997-07-08 00:00:00+00:00,9305.227539,9305.269531,9371.500000,9282.099609,9345.549805,0
...,...,...,...,...,...,...
2024-10-21 00:00:00+00:00,23542.529297,23542.529297,23678.509766,23480.060547,23602.980469,3005000
2024-10-22 00:00:00+00:00,23535.429688,23535.429688,23535.429688,23269.859375,23428.109375,3046700
2024-10-23 00:00:00+00:00,23334.759766,23334.759766,23486.449219,23318.839844,23402.240234,3039000
2024-10-24 00:00:00+00:00,23192.519531,23192.519531,23446.640625,23150.769531,23446.640625,3322300
2024-10-25 00:00:00+00:00,23348.449219,23348.449219,23388.529297,23222.769531,23255.070312,2744200

In [ ]:
type()